<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= titulo %></title>
    <link rel="stylesheet" href="/css/private.css">
</head>
<body>
    <header>
        <h1>GoWheel·las Car Rentals<br><%= titulo %></h1>
    </header>