<%- include("templates/header.ejs") %>

<section class="content error">

    <h2>Página no existe</h2>

    <p><a href="/">Volver al inicio</a></p>
    <img src="/img/error.avif" alt="No Road">
    
</section>
</main>
</body>
</html>