<%- include("templates/header.ejs") %>
    <section class="content gracias">
        <h2>Gracias :)</h2>
        <p>¡Tu reserva de coche ha sido confirmada! <br>
            Gracias por elegirnos. </p>
        <a href="/" class="button">Volver al inicio</a>
        </main>
        
    </section>    
</body>
</html>